<% include ../header %>
<div class="container-fluid dashboard-body" xmlns="http://www.w3.org/1999/html">
	<div class="row">

		<% include ../sidebar %>

		<div class="col-md-10">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-4">
							<h3 class="panel-title">bug详情</h3>
						</div>
						<div class="col-sm-8 text-right">
							<% if(user._id == bug.assigner){ %>
							<a href="#" data-toggle="modal" data-target="#designation">
								<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 指派
							</a>
							<% if(bug.status == 1){ %>
							<a href="#" data-toggle="modal" data-target="#complete">
								<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 完成
							</a>
							<% } %>
							<% } %>


							<% if(user._id == bug.assigner || user._id == bug.adder){ %>
							<% if(bug.status == 1){ %>
							<a href="#" data-toggle="modal" data-target="#close">
								<span class="glyphicon glyphicon-off" aria-hidden="true"></span> 关闭
							</a>
							<% }else if(bug.status == 2){ %>
							<a href="#" data-toggle="modal" data-target="#close">
								<span class="glyphicon glyphicon-off" aria-hidden="true"></span> 关闭
							</a>
							<% }else{ %>
							<a href="#" data-toggle="modal" data-target="#open">
								<span class="glyphicon glyphicon-play" aria-hidden="true"></span> 打开
							</a>
							<% } %>
							<a href="#" data-toggle="modal" data-target="#addLog">
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 备注
							</a>
							<% } %>


							<% if(user._id == bug.adder){ %>
							<a href="/bug/edit/<%= bug._id %>">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 编辑
							</a>
							<% } %>

						</div>
					</div>
				</div>
				<div class="panel-body">
					<table class="table project-detail">
						<tr>
							<th>bug名称:</th>
							<td><%= bug.name %></td>
						</tr>
						<tr>
							<th>状态:</th>
							<td><%= bug._status %></td>
						</tr>
						<tr>
							<th>类型:</th>
							<td><%= bug._type %></td>
						</tr>
						<tr>
							<th>创建者:</th>
							<td><%= bug._adder.username %></td>
						</tr>
						<tr>
							<th>创建时间:</th>
							<td><%= bug._addTime %></td>
						</tr>
						<tr>
							<th>bug描述:</th>
							<td>
								<%= bug.description %>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">操作记录</h3>
				</div>
				<div class="panel-body">
					<% bug.log.forEach(function(logItem){ %>
					<dl>
						<dt><%- logItem.title %></dt>
						<dd>
							<pre><%= logItem.note %></pre>
						</dd>
					</dl>
					<% }) %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="designation" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">选择指派人</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="desForm" method="post" action="/bug/designation/<%= bug._id %>">
					<div class="form-group">
						<label for="desPerson" class="col-sm-3 control-label">选择指派人</label>

						<div class="col-sm-9">
							<input type="text" name="username" class="form-control" id="desPerson" placeholder="选择指派人">
							<input type="hidden" name="userId" id="desPersonId">
						</div>
					</div>
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="desForm" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="complete" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">完成bug修复</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="completeForm" method="post" action="/bug/complete/<%= bug._id %>">
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="completeForm" class="btn btn-primary">确认修复</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="close" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">关闭bug</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="closeForm" method="post" action="/bug/close/<%= bug._id %>">
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="closeForm" class="btn btn-primary">确认关闭</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="open" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">打开bug</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="openForm" method="post" action="/bug/open/<%= bug._id %>">
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="openForm" class="btn btn-primary">确认打开</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addLog" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">添加备注</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="logForm" method="post" action="/bug/log/<%= bug._id %>">
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="logForm" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

<% include ../script %>
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script>
	$(function () {

		initAutoComplete('desPerson', 'desPersonId');

		function initAutoComplete(textId, valId) {
			$('#' + textId).autocomplete({
				source: '/user/users',
				select: function (event, ui) {
					$('#' + valId).val(ui.item.id);
				}
			});
		}
	})
</script>
<% include ../footer %>