<% include ../header %>
<div class="container-fluid dashboard-body">
	<div class="row">
		<% include ../sidebar %>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-3"><h3 class="panel-title">任务详情</h3></div>
						<div class="col-md-9 text-right">

							<% if(task.assigner == user._id && task.status != 4 && task.status != 5){ %>
							<a href="#" data-toggle="modal" data-target="#designation"><span
										class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 指派</a>
							<% if(task.status == 2){ %>
							<a href="#" data-toggle="modal" data-target="#modifyProgress"><span
										class="glyphicon glyphicon-step-forward" aria-hidden="true"></span> 修改进度</a>
							<a href="#" data-toggle="modal" data-target="#complete"><span
										class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 完成</a>
							<% } %>
							<a href="#" data-toggle="modal" data-target="#upload"><span
										class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> 上传附件</a>
							<a href="#" data-toggle="modal" data-target="#addLog"><span
										class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 备注</a>
							<% } %>

							<% if(task.adder == user._id && task.status != 4){ %>
							<% if(task.status == 1 || task.status == 3 || task.status == 5){ %>
							<a href="#" data-toggle="modal" data-target="#start"><span class="glyphicon glyphicon-play"
							                                                           aria-hidden="true"></span> 启动</a>
							<% }else{ %>
							<a href="#" data-toggle="modal" data-target="#pause"><span class="glyphicon glyphicon-pause"
							                                                           aria-hidden="true"></span> 暂停</a>
							<a href="#" data-toggle="modal" data-target="#stop"><span class="glyphicon glyphicon-off"
							                                                          aria-hidden="true"></span> 终止</a>
							<% } %>
							<a href="#" data-toggle="modal" data-target="#addLog"><span
										class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 备注</a>
							<a href="/task/edit/<%= task._id %>"><span class="glyphicon glyphicon-edit"
							                                           aria-hidden="true"></span> 编辑</a>
							<a href="#" data-toggle="modal" data-target="#link"><span
										class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> 关联任务</a>
							<% } %>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<table class="table project-detail">
						<tr>
							<th>任务名称:</th>
							<td><%= task.name %></td>
						</tr>
						<tr>
							<th>所属项目:</th>
							<td><a href="/project/detail/<%= task.project %>"><%= task.projectName %></a></td>
						</tr>
						<tr>
							<th>优先级:</th>
							<td><%= task.level %></td>
						</tr>
						<tr>
							<th>开始时间:</th>
							<td><%= task._startTime %></td>
						</tr>
						<tr>
							<th>结束时间:</th>
							<td><%= task._endTime %></td>
						</tr>
						<tr>
							<th>状态:</th>
							<td><%= task._status %></td>
						</tr>
						<tr>
							<th>进度:</th>
							<td>
								<div class="progress-content">
									<div style="width: <%= task.progress %>%" class="progress-in"></div>
								</div>
							</td>
						</tr>
						<tr>
							<th>指派给:</th>
							<td><%= task.assignerName || '--' %></td>
						</tr>
						<tr>
							<th>创建者:</th>
							<td><%= task.adderName || '--' %></td>
						</tr>
						<tr>
							<th>任务描述:</th>
							<td><%= task.description %></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">被关联的任务</h3>
				</div>
				<div class="list-group">
					<% task.linkTasks.forEach(function(link){ %>
					<a href="/task/detail/<%= link._id %>" class="list-group-item"><%= link.name %></a>
					<% }) %>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">操作记录</h3>
				</div>
				<div class="panel-body">
					<% task.log.forEach(function(logItem){ %>
					<dl>
						<dt><%- logItem.title %></dt>
						<dd>
							<pre><%= logItem.note %></pre>
						</dd>
					</dl>
					<% }) %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="designation" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">选择指派人</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="desForm" method="post" action="/task/designation/<%= task._id %>">
					<div class="form-group">
						<label for="desPerson" class="col-sm-3 control-label">选择指派人</label>

						<div class="col-sm-9">
							<input type="text" name="username" class="form-control" id="desPerson" placeholder="选择指派人">
							<input type="hidden" name="userId" id="desPersonId">
						</div>
					</div>
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="desForm" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addLog" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">添加备注</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="logForm" method="post" action="/task/log/<%= task._id %>">
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="logForm" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modifyProgress" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">修改进度</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="progressForm" method="post" action="/task/progress/<%= task._id %>">
					<div class="form-group">
						<label for="progress" class="col-sm-3 control-label">修改进度</label>

						<div class="col-sm-4">
							<select class="form-control" name="progress" id="progress">
								<% for(var i = 0;i <= 100;i += 5){ %>
								<% if(task.progress == i){ %>
								<option selected value="<%= i %>"><%= i %>%</option>
								<% }else{ %>
								<option value="<%= i %>"><%= i %>%</option>
								<% } %>
								<% } %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="progressForm" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="upload" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">上传附件</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="uploadForm" enctype="multipart/form-data" method="post"
				      action="/task/upload/<%= task._id %>">
					<div class="form-group">
						<label for="up_text" class="col-sm-3 control-label">添加附件</label>

						<div class="col-sm-9">
							<input type="file" name="appendix" class="form-control" id="up_text"/>
						</div>
					</div>
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="uploadForm" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="start" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">启动任务</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="startForm" method="post" action="/task/start/<%= task._id %>">
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="startForm" class="btn btn-primary">确认启动</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="pause" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">暂停任务</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="pauseForm" method="post" action="/task/pause/<%= task._id %>">
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="pauseForm" class="btn btn-primary">确认暂停</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="stop" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">终止任务</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="stopForm" method="post" action="/task/stop/<%= task._id %>">
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="stopForm" class="btn btn-primary">确认终止</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="complete" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">完成任务</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="completeForm" method="post" action="/task/complete/<%= task._id %>">
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="completeForm" class="btn btn-primary">确认完成</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="link" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">关联任务</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="linkForm" method="post" action="/task/link/<%= task._id %>">
					<div class="form-group">
						<label for="linkTask" class="col-sm-3 control-label">选择关联任务</label>

						<div class="col-sm-4">
							<select class="form-control" name="link">
								<% task.projectItems.forEach(function(taskItem){ %>
								<% if(taskItem._id + '' !== task._id + ''){ %>
								<option value="<%= taskItem._id %>"><%= taskItem.name %></option>
								<% } %>
								<% }) %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="note" class="col-sm-3 control-label">添加备注</label>

						<div class="col-sm-9">
							<textarea id="note" name="note" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" form="linkForm" class="btn btn-primary">确认关联</button>
			</div>
		</div>
	</div>
</div>

<% include ../script %>
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script>
	$(function () {

		initAutoComplete('desPerson', 'desPersonId');

		function initAutoComplete(textId, valId) {
			$('#' + textId).autocomplete({
				source: '/user/getProjectUsers/<%= task.project %>',
				select: function (event, ui) {
					$('#' + valId).val(ui.item.id);
				}
			});
		}
	})
</script>
<% include ../footer %>