<% include ../header %>
<div class="container-fluid dashboard-body">
	<div class="row">
		<% include ../sidebar %>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">任务列表</h3>
				</div>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>优先级</th>
							<th>所属项目</th>
							<th>名称</th>
							<th>截至日期</th>
							<th>状态</th>
							<th>进度</th>
							<th>指派者</th>
							<th>创建者</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<% list.forEach(function(task){ %>
					<tr>
						<td>
							<span class="level-circle"><%= task.level %></span>
						</td>
						<td><a href="/project/detail/<%= task._project._id %>"><%= task._project.name %></a></td>
						<td><a href="/task/detail/<%= task._id %>"><%= task.name %></a></td>
						<td><%= task._endTime %></td>
						<% if(task.status == 1){ %>
						<td class="text-muted">
							<% }else if(task.status == 2){ %>
						<td class="text-danger">
							<% }else if(task.status == 3){ %>
						<td class="text-warning">
							<% }else if(task.status == 4){ %>
						<td class="text-danger">
							<% }else if(task.status == 5){ %>
						<td class="text-success">
							<% } %>
							<%= task._status %></td>
						<td width="200">
							<div class="progress-content">
								<div style="width: <%= task.progress %>%" class="progress-in"></div>
							</div>
						</td>
						<td><%= task._assigner.username %></td>
						<td><%= task._adder.username %></td>
						<td><%= task._addTime %></td>
						<td>
							<% if(task.adder == user._id){ %>
							<a href="/task/edit/<%= task._id %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
							<a href="/task/delete/<%= task._id %>"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a>
							<% } %>
						</td>
					</tr>
					<% }) %>

					</tbody>
				</table>
			</div>

			<% include ../page %>
		</div>
	</div>
</div>

<% include ../script %>
<% include ../footer %>