<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>人员列表</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 user-list">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>email</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>职位</th>
                        <th>最后登陆时间</th>
                        <th>注册时间</th>
                    </tr>
                </thead>
                <tbody>
                    <% userList.forEach(function(user){ %>
                    <tr>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user._sex  %>
                        </td>
                        <td>
                            <%= user.office %>
                        </td>
                        <td>
                            <%= user._loginTime  %>
                        </td>
                        <td>
                            <%= user._registerTime  %>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>