<% include ../header %>
<div class="container-fluid dashboard-body" xmlns="http://www.w3.org/1999/html">
	<div class="row">

		<% include ../sidebar %>

		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">项目列表</h3>
				</div>
				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th>项目名称</th>
						<th><a href="#">开始日期 <span class="glyphicon glyphicon-sort" aria-hidden="true"></span> </a></th>
						<th><a href="#">结束日期 <span class="glyphicon glyphicon-sort" aria-hidden="true"></span> </a> </th>
						<th><a href="#">状态 <span class="glyphicon glyphicon-sort" aria-hidden="true"></span> </a></th>
						<th>预计工时</th>
						<th>总消耗</th>
						<th>总剩余</th>
						<th><a href="#">进度<span class="glyphicon glyphicon-sort" aria-hidden="true"></span> </a></th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					<% list.forEach(function(item){ %>
					<tr>
						<td><a href="/project/detail/<%= item._id %>"><%= item.name %></a></td>
						<td><%= item._startTime %></td>
						<td><%= item._endTime %></td>
						<% if(item.status == 1){ %>
						<td class="text-muted">
						<% }else if(item.status == 2){ %>
						<td class="text-danger">
						<% }else if(item.status == 3){ %>
						<td class="text-warning">
						<% }else if(item.status == 4){ %>
						<td class="text-danger">
						<% } %>
						<%= item._status %></td>
						<td><%= item.total %></td>
						<td><%= item.used %></td>
						<td><%= item.reset %></td>
						<td>
							<%= item.progress %>%
						</td>
						<td>
							<a href="/project/edit/<%= item._id %>">编辑</a>
							<a href="/project/delete/<%= item._id %>">删除</a>
						</td>
					</tr>
					<% }) %>
					</tbody>
				</table>
			</div>

			<div class="create-line text-right">
				<a href="/project/add" class="btn btn-primary" role="button">创建新项目</a>
			</div>

			<% include ../page %>

		</div>

	</div>
</div>

<% include ../script %>
<% include ../footer %>