<% include ../header %>
<div class="container-fluid dashboard-body" xmlns="http://www.w3.org/1999/html">
	<div class="row">

		<% include ../sidebar %>

		<div class="col-md-10">

			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-2 text-right"><h5>过滤项：</h5></div>
						<div class="col-md-9">
							<div class="btn-group" role="group" aria-label="">
								<a href="#" class="btn btn-default">开始时间</a>
								<a href="#" class="btn btn-default">结束时间</a>
								<a href="#" class="btn btn-default">状态</a>
								<a href="#" class="btn btn-default">进度</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
						<a href="/project/add" class="btn btn-primary" role="button">创建新项目</a>
					</div>
				</div>
			</div>

			<div class="panel panel-default mt15">
				<div class="panel-heading">
					<h3 class="panel-title">项目列表</h3>
				</div>
				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th>项目名称</th>
						<th>开始日期</th>
						<th>结束日期</th>
						<th>状态</th>
						<th>预计工时</th>
						<th>总消耗</th>
						<th>总剩余</th>
						<th>进度</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					<% list.forEach(function(item){ %>
					<tr>
						<td><%= item.name %></td>
						<td><%= item._startTime %></td>
						<td><%= item._endTime %></td>
						<td><%= item.status %></td>
						<td><%= item.total %></td>
						<td><%= item.used %></td>
						<td><%= item.reset %></td>
						<td>
							<%= item.progress %>%
						</td>
						<td>
							<a href="#"></a>
						</td>
					</tr>
					<% }) %>
					</tbody>
				</table>
			</div>

			<% include ../page %>

		</div>

	</div>
</div>

<% include ../script %>
<% include ../footer %>