<% include ../header %>
<div class="container-fluid dashboard-body" xmlns="http://www.w3.org/1999/html">
	<div class="row">

		<% include ../sidebar %>

		<div class="col-md-10">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-10">
							<h3 class="panel-title"><%= project.name %>->团队成员管理</h3>
						</div>
					</div>
				</div>
				<form method="post" action="/project/members/edit">
					<input type="hidden" name="id" value="<%= project._id %>"/>

					<% if(memberError){ %>
					<div class="alert alert-danger mt15" role="alert"><%= memberError %></div>
					<% } %>

					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>姓名</th>
							<th>角色</th>
							<th>加入日期</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody id="body_content">
						<tr>
							<td>
								<input type="text" disabled value="<%= projectMan.username || '--' %>"/>
								<input type="hidden" name="projectManId" value="<%= projectMan._id %>"/>
							</td>
							<td><input type="text" disabled value="项目负责人"/></td>
							<td><input type="text" disabled value="<%= project._editTime %>"/></td>
							<td></td>
						</tr>
						<tr>
							<td>
								<input type="text" disabled value="<%= productMan.username || '--' %>"/>
								<input type="hidden" name="productManId" value="<%= productMan._id %>"/>
							</td>
							<td><input type="text" disabled value="产品负责人"/></td>
							<td><input type="text" disabled value="<%= project._editTime %>"/></td>
							<td></td>
						</tr>
						<tr>
							<td>
								<input type="text" disabled value="<%= testMan.username || '--' %>"/>
								<input type="hidden" name="testManId" value="<%= testMan._id %>"/>
							</td>
							<td><input type="text" disabled value="测试负责人"/></td>
							<td><input type="text" disabled value="<%= project._editTime %>"/></td>
							<td></td>
						</tr>
						<tr>
							<td>
								<input type="text" disabled value="<%= publishMan.username || '--' %>"/>
								<input type="hidden" name="publishManId" value="<%= publishMan._id %>"/>
							</td>
							<td><input type="text" disabled value="发布负责人"/></td>
							<td><input type="text" disabled value="<%= project._editTime %>"/></td>
							<td></td>
						</tr>
						<% members.forEach(function(member, index){ %>
						<tr>
							<td>
								<input type="text" name="memberName" value="<%= member.username %>"
								       id="member_name_<%= index %>"/>
								<input type="hidden" name="memberId" value="<%= member.id %>"
								       id="member_id_<%= index %>"/>
							</td>
							<td>
								<input type="text" name="role" value="<%= member.role %>"/>
							</td>
							<td>
								<input type="hidden" name="joinTime" value="<%= member.joinTime %>"/>
							</td>
							<td>
								<a href="javascript:;" class="line-del">删除</a>
							</td>
						</tr>
						<% }) %>
						<tr class="new-line">
							<td>
								<input type="text" name="memberName" class="member-name"/>
								<input type="hidden" name="memberId" class="member-id"/>
							</td>
							<td>
								<input type="text" name="role"/>
							</td>
							<td>
								<input type="hidden" name="joinTime"/>
							</td>
							<td>
								<a href="javascript:;" class="line-del">删除</a>
							</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="4" class="text-right">
								<a href="javascript:;" id="add_one_line" class="btn btn-primary">增加一行</a>
							</td>
						</tr>
						<tr>
							<td colspan="4" class="text-center">
								<button type="submit" class="btn btn-lg btn-success">提交</button>
							</td>
						</tr>
						</tfoot>
					</table>
				</form>
			</div>

		</div>

	</div>
</div>

<% include ../script %>
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script>

	var $newLine = $('.new-line');

	var $newLineCloned = $newLine.clone();

	$('#add_one_line').on('click', function () {
		var $clonedNode = $newLineCloned.clone();
		$('#body_content').append($clonedNode);
		initAutoComplete($clonedNode);
	});

	$(document).on('click', '.line-del', function () {
		var $this = $(this);
		$this.closest('tr').remove();
	})

	initAutoComplete($newLine);

	function initAutoComplete(node) {
		node.find('.member-name').autocomplete({
			source: '/user/users',
			select: function (event, ui) {
				node.find('.member-id').val(ui.item.id);
			}
		});
	}
</script>
<% include ../footer %>